.camera-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.camera-frame {
    width: 100%;
    max-width: 600px;
    border: 3px solid #3c8dbc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Animation légère lors du scan */
.camera-frame:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(0, 255, 0, 0.6);
    animation: scanLine 2s infinite alternate ease-in-out;
}

@keyframes scanLine {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}